@import '~antd/dist/antd.css';
.logo{
  float: left;
  font-size: 22px;
  color: white;
}
.login{
  float: right;
}
.layout-content{
  background-color: white;
  padding: 20px 8%;
  /* font-size: 16px; */
}

.layout-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}